@use "sass:map";
@use "@angular/material" as mat;

:host {
  //margin-top: 56px; // space for toolbar
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.destinations__fab {
  position: fixed;
  bottom: 68px;
  right: 16px;
  z-index: 10;
}

.destinations__navigate-btn-wrap {
  padding: 16px;

  > a {
    width: 100%;
  }
}

.destinations__empty-map-icon {
  height: 100px;
  width: 100px;
  font-size: 100px;
  border-radius: 50%;
  padding: 16px;
  background-color: mat.get-color-from-palette(mat.$gray-palette, 300);
}

.destinations__empty-map-title {
  margin-top: 16px;
  margin-bottom: 0;
}
