<ng-container *ngIf="selectedDay$ | async as selectedDay">
  <mat-toolbar (click)="onDayOfTheWeekClick()" matRipple fxLayoutAlign="center center">
    <h2>{{ selectedDay | translateWeekday }}</h2>
  </mat-toolbar>

  <ng-container *ngIf="loaded$ | async">
    <ng-container *ngIf="allDestinations$ | async | destinationsByDay:selectedDay as destinationsOfSelectedDay">
      <mat-drawer-container fxFlex="grow">
        <mat-drawer-content>
          <travelmaker-destination-list cdkDropList (cdkDropListDropped)="onDrop(destinationsOfSelectedDay, $event)">
            <travelmaker-destination-list-item
              cdkDrag
              *ngFor="let destination of destinationsOfSelectedDay"
              [destination]="destination"
              (click)="onDestinationClick(destination)">
              <mat-icon mat-list-icon cdkDragHandle class="material-icons-outlined opacity-33" title="Drag to reorder">
                drag_handle
              </mat-icon>
            </travelmaker-destination-list-item>
          </travelmaker-destination-list>

          <button
            mat-fab
            (click)="onAddDestinationClick()"
            color="primary"
            class="destinations__fab"
            aria-label="Add new destination">
            <mat-icon class="material-icons-outlined">add_location_alt</mat-icon>
          </button>
        </mat-drawer-content>
      </mat-drawer-container>

      <footer class="destinations__navigate-btn-wrap">
        <a
          mat-flat-button
          color="accent"
          [href]="destinationsOfSelectedDay | mapDirectionsUrl"
          target="_blank">
          Navigate
        </a>
      </footer>
    </ng-container>
  </ng-container>
</ng-container>
