@use "sass:map";
@use "@angular/material" as mat;

:host {
  margin-top: 56px; // space for toolbar
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.destinations__list-option-icon {
  background-color: mat.get-color-from-palette(mat.$gray-palette, 200);
}

.destinations__fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
