<ng-container *ngIf="selectedDay$ | async as selectedDay">
  <mat-toolbar (click)="onDayOfTheWeekClick()" matRipple fxLayoutAlign="center center">
    <h2>{{ selectedDay | translateWeekday }}</h2>
  </mat-toolbar>

  <ng-container *ngIf="allDestinationLoaded$ | async; else loader">
    <ng-container *ngIf="allDestinations$ | async | destinationsByDay:selectedDay as destinationsOfSelectedDay">
      <mat-drawer-container fxFlex="grow">
        <mat-drawer-content>
          <ng-container *ngIf="destinationsOfSelectedDay.length; else noDestinations">
            <travelmaker-destination-list cdkDropList (cdkDropListDropped)="onDrop(destinationsOfSelectedDay, $event)">
              <travelmaker-destination-list-item
                cdkDrag
                *ngFor="let destination of destinationsOfSelectedDay"
                [destination]="destination"
                (click)="onDestinationClick(destination)">
                <mat-icon mat-list-icon cdkDragHandle class="material-icons-outlined opacity-33" title="Drag to reorder">
                  drag_handle
                </mat-icon>
              </travelmaker-destination-list-item>
            </travelmaker-destination-list>
          </ng-container>

          <ng-template #noDestinations>
            <mat-drawer-container fxFlex="grow">
              <mat-drawer-content fxLayout="column" fxLayoutAlign="center center">
                <mat-icon mat-list-icon class="material-icons-outlined destinations__empty-map-icon opacity-33">
                  map
                </mat-icon>
                <h2 class="destinations__empty-map-title">Empty map</h2>
                <p>Add the first destination for this day.</p>
              </mat-drawer-content>
            </mat-drawer-container>
          </ng-template>

          <button
            mat-fab
            (click)="onAddDestinationClick()"
            color="primary"
            class="destinations__fab"
            aria-label="Add new destination">
            <mat-icon class="material-icons-outlined">add_location_alt</mat-icon>
          </button>
        </mat-drawer-content>
      </mat-drawer-container>

      <footer class="destinations__navigate-btn-wrap">
        <a
          mat-flat-button
          color="accent"
          [href]="destinationsOfSelectedDay | mapDirectionsUrl"
          target="_blank">
          Navigate
        </a>
      </footer>
    </ng-container>
  </ng-container>

  <ng-template #loader>
    <mat-drawer-container *ngIf="isLoading$ | async" fxFlex="grow">
      <mat-drawer-content fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
      </mat-drawer-content>
    </mat-drawer-container>
  </ng-template>
</ng-container>
