// Helper
//

[hidden] {
  display: none !important;
}

.bg-white {
  background-color: #fff !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.opacity-0 {
  opacity: 0 !important;
}

.opacity-25 {
  opacity: .25 !important;
}

.opacity-33 {
  opacity: .33 !important;
}

.opacity-50 {
  opacity: .5 !important;
}

.opacity-75 {
  opacity: .75 !important;
}

.opacity-100 {
  opacity: 1 !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
