<ng-container *ngIf="facade.selectedWeekday$ | async as weekday">
  <form [formGroup]="form" (ngSubmit)="onSubmit(weekday)" fxLayout="column" fxFlex="grow">
    <div class="destination-form__day-btn-wrap">
      <button mat-button type="button" (click)="onWeekdayClick()" color="primary">
        {{ weekday | translateWeekday }}
        <mat-icon class="material-icons-outlined">arrow_drop_down</mat-icon>
      </button>
    </div>

    <div fxFlex="grow">
      <mat-form-field appearance="outline" class="destination-form__form-field">
        <mat-label>name</mat-label>
        <input matInput [formControlName]="'name'">
        <mat-error *ngIf="form.get('name')?.invalid">{{ form.get('name')?.getError('msg') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="destination-form__form-field">
        <mat-label>city</mat-label>
        <input type="text" matInput [formControlName]="'city'">
        <mat-error *ngIf="form.get('city')?.invalid">{{ form.get('city')?.getError('msg') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="destination-form__form-field">
        <mat-label>address</mat-label>
        <input matInput [formControlName]="'address'">
        <mat-error *ngIf="form.get('address')?.invalid">{{ form.get('address')?.getError('msg') }}</mat-error>
      </mat-form-field>
    </div>

    <footer fxLayoutAlign="space-between" fxLayoutGap="24px">
      <button mat-flat-button type="button" mat-dialog-close fxFlex="grow">
        Cancel
      </button>

      <button mat-flat-button type="submit" color="primary" fxFlex="grow">
        Save
      </button>
    </footer>
  </form>
</ng-container>
