@use "sass:map";
@use "@angular/material" as mat;

:host {
  display: block;
}

.destination-list-item {
  height: 72px;
  padding-left: 16px;
  padding-right: 16px;
  background: white;
}

.destination-list-item__icon {
  border-radius: 50%;
  padding: 4px;
  background-color: mat.get-color-from-palette(mat.$gray-palette, 200);
}

.destination-list-item__body {
  padding-left: 16px;
  padding-right: 16px;
}
